body{
	font-family: 'Gentium Book Basic', sans-serif;
	font-weight:400;
	color:#555;
}

.fieldset{
	border: 1px dashed #00c481;
}

td{
	border-width: 0px;
	text-align: left;
}

th{
	border-width: 0px;
	text-align: left;
}

tr.entries_first{
	font-weight: 700;
	height:20px;
}

tr.entries_first td{
	padding:0;
}

tr.entries:hover {
}

tr.entries {
}

.entries_second{
	width: 100%;
}

.year{
	font-size:40px;
	line-height:15px;
	margin:5px 0 0px 0;
	padding:0;
	float:left;
}

.month{
	font-size:20px;
	float:left;
	margin-left:15px;
}

.button{
	font-size:12px!important;
}

label.preMonthMeta{
	font-weight: bold;
}

.error{
	background: #DE959C;
}

.fullWidth{
	width:100%;
}

.red, .expense{
	color:#fa2b31;
}

.orange{
	color:#ffbf1f;
}

.yellow{
	color:#fff146;
}

.blue{
	color:#169bd2;
}

.green, .income{
	color:#00c481;
}

.redbg{
	background:#fa2b31;
}

.orangebg{
	background:#ffbf1f;
}

.yellowbg{
	background:#fff146;
}

.bluebg{
	background:#169bd2;
}

.greenbg{
	background:#00c481;
}

.Heading{
	font-size:20px;
	font-weight:700;
}

input[type="text"]{
	border:1px solid #dddddd;
}

#sidebar{
	width:20%;
	float:left;
	position:fixed;
}

.content{
	width:80%;
	float:right;
}
