<!DOCTYPE html>
<html>
	<head>
		<title>Budget Forecaster</title>
		
		<noscript>Your browser does not have Javascript enabled.</noscript>
		<link href="css/style.css" rel="stylesheet">
		<link href="css/jquery-ui.css" rel="stylesheet">
		<link href='http://fonts.googleapis.com/css?family=Gentium+Book+Basic' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700' rel='stylesheet' type='text/css'>
		<script src="libjs/jquery.js"></script>
		<script src="libjs/jquery-ui-1.9.0.js"></script>
		<script src="libjs/jquery-validate.js"></script>
		<script src="libjs/underscore.js"></script>
		<script src="libjs/backbone.js"></script>
		<script src="js/main.js"></script>
		<script src="js/data_functions.js"></script>
		<script src="js/dialog_add_entry.js"></script>
		<script src="js/dialog_edit_entry.js"></script>
		<script src="js/jquery_helpers.js"></script>
		<script src="js/client_server_functions.js"></script>
		<script src="js/data_views.js"></script>
		<script src="libjs/mousewheel.js"></script>  
		<script src="libjs/scroll.js"></script>  
	</head>

	<body>
		
		<!-- HEADER -->
		
		<div class="fullWidth Header">
			<img src="images/logo.jpg" style="float:left; border:0; margin-top:10px;"/>
			
			<div style="float: right;">
				{{ message_pretext }} <a href={{url}}>{{url_linktext}}</a>{{message_posttext}}
				<br />
				<!--<img style="float: right; padding-top: 10px;" src="images/appengine-silver-120x30.gif" />-->
			</div>
				
			<div style="clear:both"></div>
		</div>	
		
		{% if username %}
		
		<!-- ADD ENTRIES DIALOG -->
		
		<div id="add_dialog_div" style="display=none; position=absolute; z-index:5">
			<form onsubmit="return false;" id="add_dialog_form">
				<table class="fieldset" bgcolor="white">
					<tr>
						<td colspan="2">
							<label class="Heading blue" id="dialog_status">Add Monthly Entry</label>
						</td>
					</tr>
					<tr>
						<td width="50%">
							<label for="input_name">Entry Name</label>								
						</td>
						<td width="50%">
							<input style="width: 100%;" autocomplete="off" type="text" class="in required" id="input_name" name="input_name">
						</td>
					</tr>
					<tr>
						<td>
							<label for="input_amount">Entry Amount</label>
						</td>
						<td>
							<input style="width: 100%;" autocomplete="off" type="text" class="in required" id="input_amount" name="input_amount">
						</td>
					</tr>
					<tr>
						<td>
							<label for="entry_type">Type</label>
						</td>
						<td>
							<input type="radio" name="entry_type" title="Income"> Income<br>
							<input type="radio" name="entry_type" title="Expense" checked="checked"> Expense
						</td>
					</tr>
					<tr class="month_option">
						<td>
							<label for="checkbox_monthly">Monthly</label>
						</td>
						<td>
							<input type="checkbox" id="checkbox_monthly" name="monthly" checked="checked" value="True" onchange="changeDateSelector()">
						</td>
					</tr>
					<tr class="month_option monthly_options" style="display: none;">
						<td>
							<label>Year</label>
						</td>
						<td>
							<select id="selectorYear" name="selectorYear" class="selector"></select>
						</td>
					</tr>
					<tr class="month_option monthly_options" style="display: none;">
						<td>
							<label>Month</label>
						</td>
						<td>
							<select id="selectorMonth" name="selectorMonth" class="selector"></select>
						</td>
					</tr>
					<tr>
						<td>
							<button class="button fullWidth" onclick="click_AddEntry();" id="addentry">Add Entry</button>
						</td>
						<td>
							<button class="button fullWidth" onclick="hideEntryDialog();">Close</button>
						</td>
					</tr>
				</table>
			</form>
		</div>
		
		<!-- EDIT ENTRIES DIALOG -->
		
		<div id="edit_entry_div" style="display=none; position=absolute; z-index:5;">
			<form onsubmit="return false;" id="edit_entry_form">
				<table class="fieldset" bgcolor="white">
					<tr>
						<td colspan="2">
							<label class="Heading blue" id="edit_dialog_status">Edit Entry</label>
						</td>
					</tr>
					<tr>
						<td width="50%"></td>
						<td width="50%"></td>
					</tr>
					<tr class="edit">
						<td>
							<label for="edit_input_name" disabled="disabled">Entry Name</label>								
						</td>
						<td>
							<input style="width: 100%;" type="text" class="in required" id="edit_input_name" name="edit_input_name">
						</td>
					</tr>
					<tr class="edit">
						<td>
							<label for="edit_input_amount">Entry Amount</label>
						</td>
						<td>
							<input style="width: 100%;" type="text" class="in required" id="edit_input_amount" name="edit_input_amount">
						</td>
					</tr>
					<tr class="edit">
						<td style="vertical-align: top;">
							<label for="edit_entry_type">Type:</label>
						</td>
						<td>
							<input type="radio" id="edit_entry_income" value="Income" name="edit_entry_type"> Income<br>
							<input type="radio" id="edit_entry_expense" value="Expense" name="edit_entry_type"> Expense
						</td>
					</tr>
					<tr class="edit">
						<td colspan="2">
							<div style="border: solid; border-width: 1px;"></div>
						</td>
					</tr>
					<tr>
						<td style="vertical-align: top;">
							<label for="edit_entry_type">Entry Scope:</label>
						</td>
						<td class="edit_action">
						</td>
					</tr>
					<tr>
						<td>
							<button class="button fullWidth edit" onclick="applyEdit();">Apply</button>
							<button class="button fullWidth delete" onclick="applyDelete();">Delete</button>
						</td>
						<td>
							<button class="button fullWidth" onclick="hideEditEntryDialog();">Close</button>
						</td>
					</tr>
				</table>
			</form>
		</div>
		
		<!-- SIDE BAR -->
		
		<div style="display: block;">
			<div id="sidebar">
				<button onclick="saveData();" class="bluebutton">Save</button><br/>
				<button class="button" onclick="showEntryDialogUnderEntryHeader(this)">+ ONE TIME ENTRY</button><br/>
				<button class="button" onclick="showEntryDialogUnderMonthly(this)">+ MONTHLY ENTRY</button><br/>
				<div style="background:#efefef; padding:4px 0 2px 0;width:100%;"><button class="button" onclick="toggleSort()">Filter</button></div>
				<div class="sort">
					<table width="100%" bgcolor="#efefef">
					<tr>
						<td width="25%"><label>From</label></td>
						<td width="37%"><select class="dirtyfilter fullWidth" id="from_month"></select></td>
						<td width="37%"><select class="dirtyfilter fullWidth" id="from_year"></select></td>
						
					</tr>
					<tr>
						<td><label>To</label></td>
						<td><select class="dirtyfilter fullWidth" id="to_month"></select></td>
						<td><select class="dirtyfilter fullWidth" id="to_year"></select></td>
						
					</tr>
					<tr>
						<td>
							<label>Columns</label>
						</td>
						<td>
							<select id="num_cols" class="dirtyfilter fullWidth"></select>
						</td>
					</tr>
					<tr>
						<td></td>
						<td colspan="2">
							<button class="button fullWidth" onclick="refreshEntries()">Refresh</button>
						</td>
					</tr>
				</table>
				</div>
				<h2 style="margin:5px 0;">Monthly Entries</h2>
				<div id="monthly_entries">{{ data }}</div>
				
			</div>
			<div class="content">				
				<div id="entries"></div>
			</div>
		</div>
		
		{% endif %}
	</body>
</html>
