<html>
	<head>
		<title>Budget Forecaster</title>
		
		<script type="text/javascript" src="js/jquery.js"></script>
		<script type="text/javascript" src="js/underscore.js"></script>
		<script type="text/javascript" src="js/backbone.js"></script>
		<script type="text/javascript" src="js/helper.js"></script>
		<noscript>Your browser does not have Javascript enabled.</noscript>
	</head>
	
	<body>		
		<style>
			.fieldset 
			{
				border: solid;
				background-color: #DDDDDD;
			}
			td
			{
				border-width: 0px;
				padding: 3px;
				text-align: left;
			}
			th
			{
				border-width: 0px;
				text-align: left;
			}
			.entries_first
			{
				background-color: #CCCCCC;
				font-weight: bold;
			}
			.entries_second
			{
				background-color: #EEEEEE;
				width: 100%;
			}
		</style>
		
		<div style="float: right;">
			{{ message_pretext }} <a href={{url}}>{{url_linktext}}</a>{{message_posttext}}
			<br />
			<img style="float: right; padding-top: 10px;" src="images/appengine-silver-120x30.gif" />
		</div>
		
		{% if username %}
		
		<!-- Entry data input form -->
		
		<div id="dialog_form" style="display=none; position=absolute;">
			<form onsubmit="return false;">
				<table class="fieldset">
					<tr>
						<td colspan="2">
							<label style="font-size: large; font-weight: bold;" id="dialog_status">Add Monthly Entry</label>
						</td>
					</tr>
					<tr>
						<td width="50%">
							<label for="input_name">Entry Name</label>								
						</td>
						<td width="50%">
							<input type="text" class="in" id="input_name" name="input_name">
						</td>
					</tr>
					<tr>
						<td>
							<label for="input_amount">Entry Amount</label>
						</td>
						<td>
							<input type="text" class="in" id="input_amount" name="input_amount">
						</td>
					</tr>
					<tr>
						<td>
							<label for="entry_type">Type</label>
						</td>
						<td>
							<input type="radio" name="entry_type" title="Income"> Income<br>
							<input type="radio" name="entry_type" title="Expense" checked="checked"> Expense
						</td>
					</tr>
					<tr class="month_option">
						<td>
							<label for="checkbox_monthly">Monthly</label>
						</td>
						<td>
							<input type="checkbox" id="checkbox_monthly" name="monthly" checked="checked" value="True" onchange="changeDateSelector()">
						</td>
					</tr>
					<tr class="month_option monthly_options" style="display: none;">
						<td>
							<label>Year</label>
						</td>
						<td>
							<select id="selectorYear" name="selectorYear" class="selector"></select>
						</td>
					</tr>
					<tr class="month_option monthly_options" style="display: none;">
						<td>
							<label>Month</label>
						</td>
						<td>
							<select id="selectorMonth" name="selectorMonth" class="selector"></select>
						</td>
					</tr>
					<tr>
						<td>
							<button style="width: 100%;" onclick="addEntry();" id="addentry">Add Entry</button>
						</td>
						<td>
							<button style="width: 100%;" onclick="hideEntryDialog();">Cancel</button>
						</td>
					</tr>
				</table>
			</form>
		</div>
		
		<div style="display: block;">
			<h2 style="vertical-align: middle">
				Monthly Entries<button onclick="showEntryDialogUnderMonthly(this)">+</button>
			</h2>
			<div id="monthly_entries">{{ data }}</div>
			<h2>
				Entries<button onclick="showEntryDialogUnderEntryHeader(this)">+</button>
			</h2>
			<div>
				<table border="1">
					<tr>
						<td><label>From</label></td>
						<td><select id="from_month"></select></td>
						<td><select id="from_year"></select></td>
					</tr>
					<tr>
						<td><label>To</label></td>
						<td><select id="to_month"></select></td>
						<td><select id="to_year"></select></td>
					</tr>
					<tr>
						<td></td>
						<td colspan="2">
							<button style="width: 100%" onclick="refreshEntries()">Refresh</button>
						</td>
					</tr>
				</table>
				<div id="entries"></div>
			</div>
		</div>
		{% endif %}
	</body>
</html>

<!-- Underscore Templates -->

<script type="text/template" class="template">
	<table>
		<tr>
			<th>
				Name
			</th>
			<th>
				Expense
			</th>
			<th>
				Income
			</th>
		</tr>
		<% _.each(rc, function(value, key, list) { %>
			<tr>
				<td>
					<%- value.get('name') %>
				</td>
				<td>
					<%- value.get('expense') %>
				</td>
				<td>
					<%- value.get('income') %>
				</td>
			</tr>
		<% }); %>
	</table>
</script>

<script type="text/template" class="entries">
	<table>
		<% _.each(rc.monthsData, function(value, key, list) { %>
			<tr class="entries_first">
				<td>
					<%- value.year + " - " + value.month %>
				</td>
				<td>
				</td>
				<td></td>
				<td>
					<% var buttonid = value.year + "-" + value.month; %>
					<button id=<%- buttonid %> onclick="showEntryDialogUnderYearMonth(<%- value.year %>, '<%- value.month %>');">+</button>
				</td>
			</tr>
			<tr>
				<td>
					<% if (value.entries.length > 0) { %>
							<tr>
								<th>
									Name
								</th>
								<th>
									Expense
								</th>
								<th>
									Income
								</th>
							</tr>
							<% _.each(value.entries, function(value, key, list) { %>
									<tr>
										<td>
											<%- value.get('name') %>
										</td>
										<td>
											<%- value.get('expense') %>
										</td>
										<td>
											<%- value.get('income') %>
										</td>
									</tr>							
							<% }); %>
					<% } %>
				</td>
				<td style="padding-bottom: 50px;"></td>
			</tr>	
		<% }); %>
	</table>
</script>
