<table style="width: 100%; height: 100%;" cellspacing="0" cellpadding="0" >
	<tr class="entries_first blue">
		<!-- YEAR MONTH -->
		<td colspan="2">
			<div class="year"><%- data.shortMonth + ' \'' + data.shortYear  %></div>
			<input style="float: right; vertical-align: middle;" type="button" class="modify_data smallButton editButton" id="editMonthlies">
		</td>
		<!-- ADD BUTTON -->
		<td align="right" valign="top">
			<input type="button" class="button modify_data" value="ADD" id='addButton'>
		</td>
	</tr>
	
	<!-- NAME EXPENSE INCOME -->
	<% if (data.entries.length > 0) { %>
	<tr>
		<th>
			Name
		</th>
		<th>
			Amount
		</th>
	</tr>
	<% } %>
	<!-- STARTING BALANCE ROW -->
	<tr>
		<td style="width:60%">Balance</td>
		<td style="width:30%">
			<span class="serif">
				<form id="startBalanceForm" style="margin: 0px;">
					<% var sb = data.start_balance; %>
					<label id="startBalanceLabel" class="start_balance_label"><%=formatDollars(sb, '--')%></label>
					<input id="startBalanceInput" class="start_balance_input" type="text" />
				</form>
			</span>
		</td>
		<td style="width: 10%; min-width:40px;"></td>
	</tr>
	<% if (data.entries.length > 0) { %>
	<tr>
		<td colspan="4">
			<div class="whitecover"></div>
		</td>
	</tr>
		<% _.each(data.entries, function(entry, key, list) { %>
		<% var amount = getModifiedAmount(entry, data.year, data.month); %>
		<% if(typeof amount == "undefined") return; %>
	<!-- ACTUAL ENTRIES -->
	<tr name="<%=key%>" class="entry_data editable_entry show_on_hover">
		<td class="<%-amount < 0?'expense':'income'%>">
			<%- entry.get('name') %>
		</td>
		<td>
			<span class="<%-amount < 0?'expense':'income'%> serif"><%-amount < 0? formatDollars(Math.abs(amount), ''): ''%><%-amount > 0? formatDollars(amount, ''): ''%></span>
		</td>
		<td style="float: right;">
			<input type="button" class="modify_data to_show_on_hover smallButton editButton" id="editButton">
			<input type="button" class="modify_data to_show_on_hover smallButton deleteButton" id="deleteButton">
		</td>
	</tr>
		<% }); %>
	<% } %>
	
	<!-- SPACER ROW TO KEEP END OF MONTH LINED UP HORIZONTALLY -->
	<tr style="height: 100%;"><td></td></tr>

	<!-- BOTTOM DIVIDER OF ENTRIES -->
	<tr>
		<td colspan="3">
			<div class="whitecover"></div>
		</td>
	</tr>
	
	<tr class="" valign="top">
		<td>
			<label class="preMonthMeta">Totals</label>
		</td>
		<td>
			<span class="serif income"><%=formatDollars(data.total_income, '') %></span>
		</td>
	</tr>
	<tr>
		<td>
			
		</td>
		<td>
			<span class="serif expense" style="text-decoration: underline;"><%=formatDollars(data.total_expenses, '')%></span>
		</td>
	</tr>
	<tr>
		<td>
			
		</td>
		<td>
			<% var difference = data.total_income + data.total_expenses; %>
			<span class="serif <%= difference >= 0? 'income': 'expense'%>"><%=formatDollars(difference, '')%></span>
		</td>
	</tr>
	<tr style="height: 15px;">
		<td></td>
		<td></td>
	</tr>
	<!-- ENDING BALANCE -->
	<tr>
		<td>
			<label class="preMonthMeta">Ending Balance:</label>
		</td>
		<td>
			<span class="serif"><label><%=formatDollars(data.end_balance, '')%></label></span>
		</td>
		<td></td>
	</tr>
	
	<!-- DISCREPANCY -->
	<% var blank = typeof data.discrepancy == 'undefined'?'blank':'discrepancy'%>
	<tr style="height: 18px;">
		<td>
			<label class="preMonthMeta <%=blank%>">Discrepancy: </label>
		</td>
		<td>
			<span class="serif <%=blank%>"><label><%=formatDollars(data.discrepancy, '$0')%></label></span>
		</td>
		<td></td>
	</tr>
</table>