<table class="fullWidth">
	<tr>
		<td colspan="1">
			<%= data.month %> <%= data.year %>
		</td>
	</tr>
	<tr style="height: 15px;">
		
	</tr>
	<% _.each(data.modifications, function(modification, id, list) { %>
	<tr name='<%=modification.get("name")%>' class="monthly_mod" >
		<td width="40%">
			<%= modification.get('name') %>
		</td>
		<td width="40%">
			<% var amount = modification.get('amount'); %>
			<% var model = monthly.get(modification.get('name')); %>
			<% if(typeof amount != "undefined") { %>
				<%= model.get('amount') %> to <%= getModifiedAmount(model, data.year, data.month) %>
			<%} else {%>
				Deleted
			<% } %>
		</td>
		<td width="20%">
			<input type="button" class="smallButton deleteButton" onkeyup="validateColorConfigurations();" onclick="click_DeleteMonthlyMod(this);">
		</td>
	</tr>
	<% }); %>
</table>